body {
    font-family: 'Karla', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;;
}

h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color: #333333;
    margin:1rem 0;
}

p, ul{
    font-size: 1.25rem;;
}

a {
    color: #EE9972;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


nav {
    background-color: #495E57;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

section {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}

figure {
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
  }

input, select{
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}

#button {
    padding: .5rem 1rem;
    border: 1px solid #495E57;
    background-color:#495E57;;
    border-radius: 5px;
    width: 80%;
    font-size: 1.25rem;
    display: block;
    color: #fff;
    line-height: 25px;
  }

#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../img/restaurant_inside.jpg');
    background-size: cover;
    background-position: 75%;
    color: white;
    min-height: 200px;
    text-align: center;;
}

#hero p {
    font-size: 2rem;
    margin:0;
    text-shadow: 2px 2px 4px #333333;
}

.cta { 
    display: inline-block; 
    color: rgba(255, 255, 255, 0.9);
    width: 200px; 
    font-weight: bold; 
    font-size: 1.5rem;
    padding: 8px; 
    border: 3px solid #fff; 
    text-align: center; 
    outline: none; 
    text-decoration: none; 
    margin: 1rem;
} 

.cta:hover {
    color:#fff;
    background:#495E57;
    border: 3px solid #495E57; 
  }

  .heading-shadow {
    text-shadow: 1px 1px 4px #333333;
  }

footer {
    background-color: #EDEFEE;
    padding: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer img {
    max-width: 50%;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
    padding-top: 1rem;;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem;
  }

  .column {
    flex-basis: 50%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .column figure {
    padding: 0px 12px;

  }


  .videowrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1rem;
	height: 0;
}
.videowrap iframe {
	position: absolute;
    margin-top: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu-price{
    display: block;
    font-size: 1rem;
}

@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }